table{
	border-collapse:collapse;
	width:100%;
}
#tab{
	border:1px solid black;
	border-radius:5px;
	background-color:white;
}
th,td{
	border:none;
	padding:10px;
}
th{
	background-color:mediumblue;
	color:white;
	text-align:left;
}
.gray{
	background-color:graytext;
}

